.donations_banner {
	width: 100%;
	height: 0;
	padding-bottom: 25%;
	overflow: hidden;
	background-color: #EDEDED;
}
.swiper-container {
	width: 100%;
	height: 100%;
	background: white;
	flex: 1;
}
.swiper-slide {
	text-align: center;
	font-size: 14px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: left;
	justify-content: left;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide{
	text-align: left;
	-webkit-justify-content: left;
    justify-content: left; 	
}
.donations_swiper{
	width: 100%;
	height: 33px;
	display: flex;
	background: white;
	-webkit-align-items: center;
	align-items: center;
	padding: 0 10px;
}
.swiper_icon{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.donations_list ul li{
	display: block;
	margin:10px;
	height: 0;
	overflow: hidden;
	padding-bottom: 33.8%;
	background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.donations_list ul li h1{
	text-align: center;
	color: white;
	font-size: 0.6rem;
	line-height: 0.6rem;
	margin-top: 0.68rem;
}
.donations_list ul li a{
	display: block;
	width: 1.77rem;
	height: 0.44rem;
	-webkit-align-items: center;
    align-items: center;
    line-height: 0.4rem;
	border-radius: 0.1rem;
	border: solid 1px white;
	color: white;
	text-align: center;
	font-size: 0.32rem;
	margin: 0.42rem auto 0 auto;
}
.donations_banner .swiper-wrapper{
	height: auto;
}
